@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        /*!sc*/
        * {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
        }

        /*!sc*/
        body,
        html,
        #__next {
            min-height: 100vh;
        }

        .site{
            overflow-x: hidden;
        }

        /*!sc*/
        data-styled.g1[id="sc-global-gIFvFP1"] {
            content: "sc-global-gIFvFP1,"
        }

        /*!sc*/
        .cIKpxU {
            background-image: url('assets/imgs/logo.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 135px;
            height: 36px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .cIKpxU {
                background-image: url('assets/imgs/logo-mobi.png');
                height: 24px;
            }
        }

        /*!sc*/
        data-styled.g2[id="sc-bdfBwQ"] {
            content: "cIKpxU,"
        }

        /*!sc*/
        .bhdLno {
            margin: 0 2px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 25px;
            text-transform: uppercase;
            -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
            transition: color .3s ease-in-out, background-color .3s ease-in-out;
            color: #202020;
        }

        /*!sc*/
        data-styled.g3[id="sc-gsTCUz"] {
            content: "bhdLno,"
        }

        /*!sc*/
        .bcaJjD {
            height: 1px;
            width: 20px;
            background-color: #303949;
            margin: 0 2px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        /*!sc*/
        data-styled.g4[id="sc-dlfnbm"] {
            content: "bcaJjD,"
        }

        /*!sc*/
        .gTLZXx {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 2px;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        .gTLZXx:hover .sc-gsTCUz {
            color: #706E6E;
        }

        /*!sc*/
        .gTLZXx:hover .sc-dlfnbm {
            background-color: #706E6E;
        }

        /*!sc*/
        .gTLZXx:active .sc-gsTCUz {
            color: #000;
        }

        /*!sc*/
        .gTLZXx:active .sc-dlfnbm {
            background-color: #000;
        }

        /*!sc*/
        data-styled.g5[id="sc-hKgILt"] {
            content: "gTLZXx,"
        }

        /*!sc*/
        .hmocIu {
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        /*!sc*/
        .hmocIu>* {
            margin-right: 16px;
        }

        /*!sc*/
        .hmocIu> :last-child {
            margin-right: 0;
        }

        /*!sc*/
        @media(max-width:780px) {
            .hmocIu.deep-menu__container_desktop {
                display: none;
            }
        }

        /*!sc*/
        .hmocIu.deep-menu__container_mobile {
            display: none;
        }

        /*!sc*/
        @media(max-width:780px) {
            .hmocIu.deep-menu__container_mobile {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        }

        /*!sc*/
        data-styled.g6[id="sc-eCssSg"] {
            content: "hmocIu,"
        }

        /*!sc*/
        .ckDfJz {
            padding: 10px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        data-styled.g7[id="sc-jSgupP"] {
            content: "ckDfJz,"
        }

        /*!sc*/
        .gnwqMi {
            font-size: 10px;
            padding: 4px;
            font-style: normal;
            font-weight: normal;
            line-height: 12px;
            color: #000;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        @media(max-width:1000px) {
            .gnwqMi {
                display: none;
            }
        }

        /*!sc*/
        data-styled.g8[id="sc-gKsewC"] {
            content: "gnwqMi,"
        }

        /*!sc*/
        .cOWINi {
            width: 24px;
            height: 24px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        data-styled.g9[id="sc-iBPRYJ"] {
            content: "cOWINi,"
        }

        /*!sc*/
        .irPtrP {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            background-color: #FFF;
        }

        /*!sc*/
        data-styled.g10[id="sc-fubCfw"] {
            content: "irPtrP,"
        }

        /*!sc*/
        .gbgfMs.app-bar__container {
            max-height: 0;
            padding: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            overflow: hidden;
        }

        /*!sc*/
        .gbgfMs.app-bar__container_open {
            max-height: calc(64px - 26px);
            padding: 13px 40px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .gbgfMs.app-bar__container_open {
                height: calc(36px - 12px);
                padding: 6px 24px;
            }
        }

        /*!sc*/
        data-styled.g11[id="sc-pFZIQ"] {
            content: "gbgfMs,"
        }

        /*!sc*/
        .dXWCyY {
            display: none;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            cursor: pointer;
            border-radius: 12px;
        }

        /*!sc*/
        .dXWCyY:hover {
            background-color: rgba(0, 0, 0, .05);
        }

        /*!sc*/
        .dXWCyY:active {
            background-color: rgba(0, 0, 0, .1);
        }

        /*!sc*/
        @media(max-width:780px) {
            .dXWCyY {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        }

        /*!sc*/
        data-styled.g12[id="sc-jrAGrp"] {
            content: "dXWCyY,"
        }

        /*!sc*/
        .jbJDWL {
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: center;
            color: #000;
        }

        /*!sc*/
        .jbJDWL.btn__label_small {
            font-size: 12px;
            line-height: 14px;
        }

        /*!sc*/
        .jbJDWL.btn__label_blue {
            color: #FFF;
        }

        /*!sc*/
        data-styled.g13[id="sc-kEjbxe"] {
            content: "jbJDWL,"
        }

        /*!sc*/
        .kvotot {
            border-radius: 24px;
            padding: 14px 16px;
            border: none;
            cursor: pointer;
        }

        /*!sc*/
        .kvotot:focus {
            outline: none;
        }

        /*!sc*/
        .kvotot.btn {
            -webkit-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
        }

        /*!sc*/
        .kvotot.btn_yellow {
            background-color: #FFE500;
        }

        /*!sc*/
        .kvotot.btn_yellow:hover {
            background-color: #c7b300;
        }

        /*!sc*/
        .kvotot.btn_yellow:active {
            background-color: #ffff55;
        }

        /*!sc*/
        .kvotot.btn_blue {
            background-color: #4F10AD;
        }

        /*!sc*/
        .kvotot.btn_blue:hover {
            background-color: #04007c;
        }

        /*!sc*/
        .kvotot.btn_blue:active {
            background-color: #8544e0;
        }

        /*!sc*/
        data-styled.g14[id="sc-iqHYGH"] {
            content: "kvotot,"
        }

        /*!sc*/
        .iDhzRL {
            border-radius: 24px;
            padding: 4px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            cursor: pointer;
        }

        /*!sc*/
        .iDhzRL.btn__wrapper {
            -webkit-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
        }

        /*!sc*/
        .iDhzRL.btn__wrapper_line {
            border: .3px solid rgba(255, 255, 255, .4);
        }

        /*!sc*/
        .iDhzRL.btn__wrapper_line:hover {
            border: .3px solid rgba(255, 255, 255, .6);
        }

        /*!sc*/
        .iDhzRL.btn__wrapper_line:active {
            border: .3px solid rgba(255, 255, 255, .1);
        }

        /*!sc*/
        data-styled.g15[id="sc-crrsfI"] {
            content: "iDhzRL,"
        }

        /*!sc*/
        .laSzwc {
            background-image: url("uploads/hero_386f2f2697.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            max-width: 100%;
        }

        /*!sc*/
        data-styled.g16[id="sc-dQppl"] {
            content: "laSzwc,"
        }

        /*!sc*/
        .ehfErK {
            background-color: rgba(43, 42, 42, .3);
            height: 460px;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-width: 100%;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .ehfErK {
                height: 310px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 0 32px;
            }
        }

        /*!sc*/
        data-styled.g17[id="sc-bqyKva"] {
            content: "ehfErK,"
        }

        /*!sc*/
        .btjemE {
            padding: 8px;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            line-height: 16px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .btjemE {
                font-size: 12px;
                line-height: 14px;
            }
        }

        /*!sc*/
        data-styled.g18[id="sc-kstrdz"] {
            content: "btjemE,"
        }

        /*!sc*/
        .dWjUC {
            margin-top: 100px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 35px;
            line-height: 43px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .dWjUC {
                font-size: 24px;
                line-height: 36px;
                margin: 0;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .dWjUC {
                font-size: 16px;
                line-height: 24px;
            }
        }

        /*!sc*/
        data-styled.g19[id="sc-hBEYos"] {
            content: "dWjUC,"
        }

        /*!sc*/
        .cYLuAZ {
            margin-top: 60px;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .cYLuAZ {
                margin: 0;
            }
        }

        /*!sc*/
        data-styled.g20[id="sc-fodVxV"] {
            content: "cYLuAZ,"
        }

        /*!sc*/
        .bjNVbG {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            padding: 64px 0 0;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bjNVbG {
                padding: 36px 0 0;
            }
        }

        /*!sc*/
        data-styled.g21[id="sc-fFubgz"] {
            content: "bjNVbG,"
        }

        /*!sc*/
        .cSnsVU {
            width: 1024px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .cSnsVU {
                width: auto;
                max-width: 100%;
            }
        }

        /*!sc*/
        data-styled.g22[id="sc-bkzZxe"] {
            content: "cSnsVU,"
        }

        /*!sc*/
        .kGntgQ {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 40px 0 0;
        }

        /*!sc*/
        data-styled.g23[id="sc-idOhPF"] {
            content: "kGntgQ,"
        }

        /*!sc*/
        .XavQL {
            padding: 40px 0 0;
        }

        /*!sc*/
        data-styled.g24[id="sc-dIUggk"] {
            content: "XavQL,"
        }

        /*!sc*/
        @media(max-width:1024px) {
            .kCQmsc {
                padding: 0 40px;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .kCQmsc {
                padding: 0 16px;
            }
        }

        /*!sc*/
        data-styled.g25[id="sc-hHftDr"] {
            content: "kCQmsc,"
        }

        /*!sc*/
        .guKkvw {
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 29px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: center;
        }

        /*!sc*/
        @media(max-width:780px) {
            .guKkvw {
                font-size: 16px;
                line-height: 20px;
            }
        }

        /*!sc*/
        data-styled.g26[id="sc-dmlrTW"] {
            content: "guKkvw,"
        }

        /*!sc*/
        .fTLfYv {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 40px 0 0;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .fTLfYv {
                padding: 40px 40px 0;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .fTLfYv {
                padding: 40px 0 0;
            }
        }

        /*!sc*/
        data-styled.g27[id="sc-kfzAmx"] {
            content: "fTLfYv,"
        }

        /*!sc*/
        .nwOmR {
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: left;
        }

        /*!sc*/
        data-styled.g28[id="sc-fKFyDc"] {
            content: "nwOmR,"
        }

        /*!sc*/
        .bGwFiF {
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 29px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bGwFiF {
                font-size: 16px;
                line-height: 20px;
            }
        }

        /*!sc*/
        data-styled.g29[id="sc-bBXqnf"] {
            content: "bGwFiF,"
        }

        /*!sc*/
        .izBVou {
            width: 608px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 40px 0 56px;
        }

        /*!sc*/
        @media(max-width:850px) {
            .izBVou {
                width: auto;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
        }

        /*!sc*/
        data-styled.g31[id="sc-cxFLnm"] {
            content: "izBVou,"
        }

        /*!sc*/
        .iqbrwR {
            width: 116px;
            margin: 0 12px;
            padding: 6px;
            font-family: Montserrat, sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: left;
            text-transform: uppercase;
            color: #24377B;
        }

        /*!sc*/
        data-styled.g32[id="sc-lmoMRL"] {
            content: "iqbrwR,"
        }

        /*!sc*/
        .fTbwUB {
            margin-top: 40px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            padding: 0px;
            width: 420px;
        }

        /*!sc*/
        data-styled.g33[id="sc-iJuUWI"] {
            content: "fTbwUB,"
        }

        /*!sc*/
        .gHUUHu {
            font-family: Mulish, sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 300;
            line-height: 55px;
            -webkit-letter-spacing: 0em;
            -moz-letter-spacing: 0em;
            -ms-letter-spacing: 0em;
            letter-spacing: 0em;
            text-align: center;
            margin-right: 24px;
            color: rgba(36, 55, 123, 0.66);
        }

        /*!sc*/
        data-styled.g34[id="sc-giIncl"] {
            content: "gHUUHu,"
        }

        /*!sc*/
        .bAYFRD {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            padding: 0px;
        }

        /*!sc*/
        data-styled.g35[id="sc-ezrdKe"] {
            content: "bAYFRD,"
        }

        /*!sc*/
        .khGBIg {
            margin: 0px 10px 2px;
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            -webkit-letter-spacing: 0em;
            -moz-letter-spacing: 0em;
            -ms-letter-spacing: 0em;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;
            color: #24377B;
        }

        /*!sc*/
        data-styled.g36[id="sc-bYEvPH"] {
            content: "khGBIg,"
        }

        /*!sc*/
        .iHaOcn {
            margin: 8px 10px 10px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }

        /*!sc*/
        data-styled.g37[id="sc-kLgntA"] {
            content: "iHaOcn,"
        }

        /*!sc*/
        .gaGeRK {
            background: #E5E7EF;
            padding: 24px 0;
        }

        /*!sc*/
        @media(max-width:780px) {
            .gaGeRK {
                padding: 24px;
            }
        }

        /*!sc*/
        data-styled.g38[id="sc-iktFzd"] {
            content: "gaGeRK,"
        }

        /*!sc*/
        .laquCT {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 16px 0 16px;
        }

        /*!sc*/
        data-styled.g39[id="sc-jJEJSO"] {
            content: "laquCT,"
        }

        /*!sc*/
        .XqbgT {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            max-width: 100%;
        }

        /*!sc*/
        data-styled.g40[id="sc-hiSbYr"] {
            content: "XqbgT,"
        }

        /*!sc*/
        .ikxKmn {
            padding-left: 104px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 50%;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .ikxKmn {
                padding-left: 20px;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .ikxKmn {
                width: auto;
                padding: 20px;
            }
        }

        /*!sc*/
        data-styled.g41[id="sc-gWHgXt"] {
            content: "ikxKmn,"
        }

        /*!sc*/
        .kiKntc {
            background-image: url("uploads/pexels_sora_shimazaki_5668854_afbb882cb3.jpg");
            background-color: #cccccc;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        }

        /*!sc*/
        @media(max-width:780px) {
            .kiKntc {
                -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                height: 240px;
            }
        }

        /*!sc*/
        .fLxsP {
            background-image: url("uploads/translate_type_img_22cda66a17.jpg");
            background-color: #cccccc;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        }

        /*!sc*/
        @media(max-width:780px) {
            .fLxsP {
                -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                height: 240px;
            }
        }

        /*!sc*/
        .dUvXFr {
            background-image: url("uploads/hero_386f2f2697.jpeg");
            background-color: #cccccc;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        }

        /*!sc*/
        @media(max-width:780px) {
            .dUvXFr {
                -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                height: 240px;
            }
        }

        /*!sc*/
        data-styled.g42[id="sc-cBNfnY"] {
            content: "kiKntc,fLxsP,dUvXFr,"
        }

        /*!sc*/
        .kajamm {
            padding: 10px 10px 24px;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            -webkit-letter-spacing: 0em;
            -moz-letter-spacing: 0em;
            -ms-letter-spacing: 0em;
            letter-spacing: 0em;
            color: #24377B;
        }

        /*!sc*/
        data-styled.g43[id="sc-citwmv"] {
            content: "kajamm,"
        }

        /*!sc*/
        .hrCIoP>* {
            margin-top: 24px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .hrCIoP>* {
                margin-top: 8px;
            }
        }

        /*!sc*/
        .hrCIoP :first-child {
            margin-top: 0;
        }

        /*!sc*/
        data-styled.g44[id="sc-jcVebW"] {
            content: "hrCIoP,"
        }

        /*!sc*/
        .eUgDnc {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            max-width: 100vw;
            min-height: 280px;
        }

        /*!sc*/
        .eUgDnc:nth-child(even) {
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }

        /*!sc*/
        .eUgDnc:nth-child(even) .sc-gWHgXt {
            padding-right: 104px;
            padding-left: 20px;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .eUgDnc:nth-child(even) .sc-gWHgXt {
                padding-right: 20px;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .eUgDnc {
                -webkit-flex-direction: column-reverse;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

            .eUgDnc:nth-child(even) {
                -webkit-flex-direction: column-reverse;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }
        }

        /*!sc*/
        data-styled.g45[id="sc-bZSQDF"] {
            content: "eUgDnc,"
        }

        /*!sc*/
        .esdhrP {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        /*!sc*/
        data-styled.g46[id="sc-iUuytg"] {
            content: "esdhrP,"
        }

        /*!sc*/
        .gdARiY {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 10px;
            cursor: pointer;
        }

        /*!sc*/
        data-styled.g47[id="sc-iBaPrD"] {
            content: "gdARiY,"
        }

        /*!sc*/
        .clytdy {
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        /*!sc*/
        data-styled.g48[id="sc-eggNIi"] {
            content: "clytdy,"
        }

        /*!sc*/
        .fFvlhF {
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: left;
            margin-right: 10px;
        }

        /*!sc*/
        data-styled.g49[id="sc-cTkwdZ"] {
            content: "fFvlhF,"
        }

        /*!sc*/
        .jyNZvl {
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            padding: 0;
            white-space: normal;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }

        /*!sc*/
        @media(max-width:780px) {
            .jyNZvl {
                background-color: #E5E7EF;
                margin: 0;
                padding: 0;
            }
        }

        /*!sc*/
        data-styled.g50[id="sc-jNMdTA"] {
            content: "jyNZvl,"
        }

        /*!sc*/
        .lhXIuw {
            display: none;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin: 0 0 16px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .lhXIuw {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        }

        /*!sc*/
        data-styled.g51[id="sc-dOSReg"] {
            content: "lhXIuw,"
        }

        /*!sc*/
        .bhhAF {
            width: 42px;
            height: 42px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        /*!sc*/
        data-styled.g52[id="sc-bBrOnJ"] {
            content: "bhhAF,"
        }

        /*!sc*/
        .jAnegm {
            margin: 56px 0 16px;
            padding: 0;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        /*!sc*/
        data-styled.g53[id="sc-cOajty"] {
            content: "jAnegm,"
        }

        /*!sc*/
        .JhijG {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }

        /*!sc*/
        .JhijG .sc-bBXqnf {
            margin: 0 0 40px;
        }

        /*!sc*/
        data-styled.g54[id="sc-AzgDb"] {
            content: "JhijG,"
        }

        /*!sc*/
        .cQSaWH {
            margin: 56px 0 40px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        data-styled.g56[id="sc-hTZhsR"] {
            content: "cQSaWH,"
        }

        /*!sc*/
        .eZqcrI {
            margin: 0 0 24px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;
        }

        /*!sc*/
        data-styled.g57[id="sc-jgHCyG"] {
            content: "eZqcrI,"
        }

        /*!sc*/
        .hFrbFX {
            background: #4F10AD;
            white-space: nowrap;
            color: #fff;
            padding: 10px;
            margin-right: 1px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
        }

        /*!sc*/
        .hFrbFX:last-child {
            margin-right: 0;
        }

        /*!sc*/
        @media(max-width:780px) {
            .hFrbFX {
                white-space: initial;
            }
        }

        /*!sc*/
        data-styled.g60[id="sc-iNqMTl"] {
            content: "hFrbFX,"
        }

        /*!sc*/
        .eMtKRF {
            margin-bottom: 1px;
        }

        /*!sc*/
        data-styled.g62[id="sc-eJMQSu"] {
            content: "eMtKRF,"
        }

        /*!sc*/
        .jXWXLS {
            background: rgba(241, 240, 238, 1);
            margin-right: 1px;
            padding: 10px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #000000;
        }

        /*!sc*/
        .jXWXLS:last-child {
            margin-right: 0;
        }

        /*!sc*/
        .jXWXLS span {
            color: rgba(36, 55, 123, 1);
        }

        /*!sc*/
        data-styled.g63[id="sc-nFpLZ"] {
            content: "jXWXLS,"
        }

        /*!sc*/
        .bYYIwB {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .bYYIwB {
                padding: 0 24px;
            }
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB {
                -webkit-align-items: stretch;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
            }
        }

        /*!sc*/
        .bYYIwB h3 {
            margin: 40px 0;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB h3 {
                font-size: 16px;
                line-height: 20px;
            }
        }

        /*!sc*/
        .bYYIwB h4 {
            margin: 20px 0;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #24377B;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB h4 {
                font-size: 14px;
                line-height: 16px;
            }
        }

        /*!sc*/
        .bYYIwB h5 {
            padding: 10px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #000000;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB h5 {
                font-size: 12px;
                line-height: 14px;
            }
        }

        /*!sc*/
        .bYYIwB p {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #000000;
            margin: 0 0 40px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB p {
                font-size: 12px;
                line-height: 14px;
            }
        }

        /*!sc*/
        .bYYIwB .sc-gTgzIj {
            width: 780px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .bYYIwB .sc-gTgzIj {
                width: auto;
            }
        }

        /*!sc*/
        .bYYIwB strong {
            font-weight: 400;
        }

        /*!sc*/
        data-styled.g64[id="sc-higXBA"] {
            content: "bYYIwB,"
        }

        /*!sc*/
        .kYuMkW {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        data-styled.g65[id="sc-ehSCib"] {
            content: "kYuMkW,"
        }

        /*!sc*/
        .bnKPcn {
            padding: 10px;
            margin-right: 2px;
        }

        /*!sc*/
        data-styled.g66[id="sc-lcujXC"] {
            content: "bnKPcn,"
        }

        /*!sc*/
        .dfsDm {
            margin: 40px 0;
            padding: 0 32px;
        }

        /*!sc*/
        @media(max-width:780px) {
            .dfsDm {
                padding: 0;
            }
        }

        /*!sc*/
        .dfsDm p {
            text-align: left;
            margin: 0 0 16px;
        }

        /*!sc*/
        data-styled.g67[id="sc-gGmIRh"] {
            content: "dfsDm,"
        }

        /*!sc*/
        .dcyGMh {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 0 16px;
            background: rgba(36, 55, 123, 0.12);
        }

        /*!sc*/
        .dcyGMh h2 {
            margin: 40px 0 0;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }

        /*!sc*/
        @media(max-width:780px) {
            .dcyGMh h2 {
                font-size: 16px;
                line-height: 20px;
            }
        }

        /*!sc*/
        .dcyGMh form {
            margin: 40px 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 316px;
        }

        /*!sc*/
        .dcyGMh input,
        .dcyGMh textarea {
            padding: 4px 8px;
            margin: 0 0 8px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 21px;
        }

        /*!sc*/
        .dcyGMh input[type=file],
        .dcyGMh textarea[type=file] {
            border: none;
        }

        /*!sc*/
        .dcyGMh textarea {
            line-height: 12px;
        }

        /*!sc*/
        .dcyGMh label {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-style: normal;
            font-weight: 300;
        }

        /*!sc*/
        .dcyGMh label.radio {
            font-size: 14px;
            line-height: 21px;
            padding: 0 8px;
        }

        /*!sc*/
        .dcyGMh label.check {
            font-size: 8px;
            line-height: 26px;
            color: #2B2A2A;
        }

        /*!sc*/
        .dcyGMh label input {
            margin-right: 8px;
            margin-bottom: 0;
        }

        /*!sc*/
        .dcyGMh p {
            font-size: 12px;
            line-height: 21px;
            text-align: center;
            color: #000000;
        }

        /*!sc*/
        data-styled.g68[id="sc-clsHhM"] {
            content: "dcyGMh,"
        }

        /*!sc*/
        .jsBTxA {
            margin-bottom: 40px;
            padding: 0 8px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        /*!sc*/
        data-styled.g69[id="sc-fbkhIv"] {
            content: "jsBTxA,"
        }

        /*!sc*/
        .hrEblL {
            height: 325px;
            background-image: url(uploads/img_1_236399573d.jpeg);
            background-size: cover;
            background-position: center;
        }

        /*!sc*/
        data-styled.g70[id="sc-GqfZa"] {
            content: "hrEblL,"
        }

        /*!sc*/
        .fMeuET {
            padding: 40px 0 56px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        .fMeuET h2 {
            margin: 0 0 20px;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            -webkit-letter-spacing: 0em;
            -moz-letter-spacing: 0em;
            -ms-letter-spacing: 0em;
            letter-spacing: 0em;
            text-align: left;
        }

        /*!sc*/
        data-styled.g71[id="sc-fWSCIC"] {
            content: "fMeuET,"
        }

        /*!sc*/
        .bNQBLt {
            margin: 0 0 60px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        /*!sc*/
        data-styled.g72[id="sc-dwfUOf"] {
            content: "bNQBLt,"
        }

        /*!sc*/
        .cJbABh {
            font-family: Montserrat, sans-serif;
            margin-left: 16px;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
        }

        /*!sc*/
        data-styled.g73[id="sc-TmcTc"] {
            content: "cJbABh,"
        }

        /*!sc*/
        .iiHqcD {
            margin: 40px 27px 0;
        }

        /*!sc*/
        data-styled.g74[id="sc-jHVexB"] {
            content: "iiHqcD,"
        }

        /*!sc*/
        .iOmLqx {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        data-styled.g75[id="sc-aemoO"] {
            content: "iOmLqx,"
        }

        /*!sc*/
        .jIvnOH {
            margin: 0 8px 0 2px;
            height: 1px;
            width: 50px;
            background-color: #000;
        }

        /*!sc*/
        data-styled.g76[id="sc-jONnTn"] {
            content: "jIvnOH,"
        }

        /*!sc*/
        .bkPOGA {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 4px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        .bkPOGA .sc-TmcTc {
            margin-left: 16px;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 22px;
            text-transform: uppercase;
            text-align: left;
        }

        /*!sc*/
        data-styled.g77[id="sc-hlTvYk"] {
            content: "bkPOGA,"
        }

        /*!sc*/
        .ejJoEn {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 4px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        data-styled.g78[id="sc-eLgOdN"] {
            content: "ejJoEn,"
        }

        /*!sc*/
        .bkmCaf {
            margin-left: 8px;
        }

        /*!sc*/
        data-styled.g79[id="sc-bTvRPi"] {
            content: "bkmCaf,"
        }

        /*!sc*/
        .cnxSGb {
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 22px;
            text-transform: uppercase;
        }

        /*!sc*/
        data-styled.g80[id="sc-kIeTtH"] {
            content: "cnxSGb,"
        }

        /*!sc*/
        .bKiBMa {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            padding: 4px;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        .bKiBMa .sc-TmcTc {
            margin-left: 8px;
        }

        /*!sc*/
        data-styled.g81[id="sc-hOqqkJ"] {
            content: "bKiBMa,"
        }

        /*!sc*/
        .inCwUZ {
            padding: 32px 0;
            background-color: #000;
            color: #FFFFFF;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .inCwUZ {
                -webkit-align-items: stretch;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
            }
        }

        /*!sc*/
        @media(max-width:500px) {
            .inCwUZ {
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }

        /*!sc*/
        data-styled.g82[id="sc-dtwoBo"] {
            content: "inCwUZ,"
        }

        /*!sc*/
        .fIUiIW {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .fIUiIW {
                padding: 0 40px;
                -webkit-align-items: flex-start;
                -webkit-box-align: flex-start;
                -ms-flex-align: flex-start;
                align-items: flex-start;
            }

            .fIUiIW>* {
                margin-right: 60px;
            }

            .fIUiIW>*:last-child {
                margin-right: 0;
            }
        }

        /*!sc*/
        @media(max-width:500px) {
            .fIUiIW {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: stretch;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
            }

            .fIUiIW>* {
                margin-right: 0;
            }

            .fIUiIW>*:last-child {
                margin-right: 0;
            }
        }

        /*!sc*/
        data-styled.g83[id="sc-dacFzL"] {
            content: "fIUiIW,"
        }

        /*!sc*/
        .cCSKON {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            color: #CBCFD4;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .cCSKON {
                font-size: 12px;
            }
        }

        /*!sc*/
        .cCSKON:hover {
            cursor: pointer;
            -webkit-text-decoration: underline;
            text-decoration: underline;
        }

        /*!sc*/
        .cCSKON:active {
            color: #ffffff;
        }

        /*!sc*/
        data-styled.g84[id="sc-jUEnpm"] {
            content: "cCSKON,"
        }

        /*!sc*/
        .kHEClt {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        /*!sc*/
        .kHEClt>* {
            margin-right: 60px;
        }

        /*!sc*/
        .kHEClt>*:last-child {
            margin-right: 0;
        }

        /*!sc*/
        @media(max-width:1024px) {
            .kHEClt {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

            .kHEClt .sc-jQbIHB {
                display: none;
            }
        }

        /*!sc*/
        @media(max-width:500px) {
            .kHEClt {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }

        /*!sc*/
        data-styled.g86[id="sc-fvhGYg"] {
            content: "kHEClt,"
        }

        /*!sc*/
        .iFMyOV {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        /*!sc*/
        .iFMyOV>* {
            margin-bottom: 10px;
        }

        /*!sc*/
        .iFMyOV>*:last-child {
            margin-bottom: 0;
        }

        /*!sc*/
        @media(max-width:500px) {
            .iFMyOV {
                margin: 10px 0;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-align-items: flex-start;
                -webkit-box-align: flex-start;
                -ms-flex-align: flex-start;
                align-items: flex-start;
            }
        }

        /*!sc*/
        data-styled.g87[id="sc-fbNXWD"] {
            content: "iFMyOV,"
        }

        /*!sc*/
        .GkeGT {
            width: 150px;
            height: 90px;
            margin-bottom: 24px;
            background-image: url("assets/imgs/big-logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        /*!sc*/
        @media(max-width:500px) {}

        /*!sc*/
        data-styled.g88[id="sc-GTWni"] {
            content: "GkeGT,"
        }

        /*!sc*/
        .eMyRzl {
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            text-align: left;
            color: #FFFFFF;
        }

        /*!sc*/
        data-styled.g89[id="sc-gsxnyZ"] {
            content: "eMyRzl,"
        }

        /*!sc*/
        .jFuWAH {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        /*!sc*/
        .jFuWAH h6 {
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 26px;
            text-transform: uppercase;
            white-space: nowrap;
            color: #FFFFFF;
        }

        /*!sc*/
        data-styled.g90[id="sc-bXDlPE"] {
            content: "jFuWAH,"
        }

        /*!sc*/
        .jqTxQZ {
            margin-right: 8px;
            width: 20px;
            height: 1px;
            background-color: #FFF;
        }

        /*!sc*/
        data-styled.g91[id="sc-eGCarw"] {
            content: "jqTxQZ,"
        }

        /*!sc*/
        .edemjN {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            min-height: 100vh;
            width: 100vw;
        }

        /*!sc*/
        data-styled.g92[id="sc-ctaXAZ"] {
            content: "edemjN,"
        }

        .sc-iBaPrD.gdARiY.active + .sc-jNMdTA.jyNZvl{
            opacity: 1;
            max-height: none;
        }
        .sc-iBaPrD.gdARiY.active .sc-eggNIi{
            transition: all 0.4s ease-in-out 0s;
            transform: rotate(180deg);
            transform-origin: 50% 50%;
        }
        .sc-giIncl.gHUUHu{
            white-space: nowrap;
        }
        .sc-hiSbYr.XqbgT{
            margin-left: -15px;
            margin-right: -15px;
            
        }
        .sc-hiSbYr.XqbgT .sc-iJuUWI.fTbwUB{
            padding-left: 15px;
            padding-right: 15px;
        }
        .w-100{
            width: 100%;
        }
        .text-center{
            text-align: center;
        }
        .sc-jNMdTA.jyNZvl{
            padding-left: 15px;
            padding-right: 15px;
        }
        .sc-jcVebW.hrCIoP{
            padding-bottom: 15px;
        }
        .table td[colspan] {
            padding: 10px;
        }

.btn--green{
    background-color: #01e675;
    color: #fff !important;
    text-decoration: none;
}
.btn--green:hover{
    opacity: 0.8;
}
a.btn{
    text-decoration: none;
}
[data-burger].active{
    transform: rotate(90deg);
}
.sc-ehSCib.kYuMkW .mb-custom{
    margin-bottom: 15px;
}
.visible-md{
    display: block;
}
.visible-mx{
    display: none;
}
@media (max-width: 576px) {
    .bNQBLt{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .visible-md{
        display: none;
    }
    .visible-xs{
        display: block;
    }
    .custom-table td,
    .custom-table th{
        font-size: 12px;
        padding: 5px;
    }
    .text-align-xs-left{
        text-align: left !important;
    }
}
        /*!sc*/